
/*body {
  font-family: 'Tangerine', serif;
  font-size: 48px;
}*/

header {
  text-align: center;
  color: white;
  background-color: black;
}

img {
  margin-top: 20px;
}

.card {
  width:10px;
  height:130px;
  margin-top: 20px;
  color: white;
  background-color: blue;
  margin-right: 20px;
}

.currentWeather {
  border:gray;
  border-style: solid;
  width:950px;
  height:300px;
  margin-top: 20px;
}

button.buttonSize  {
  width: 150px;
  height:25px;
}